<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scm.contract.importExcel.repository.ImportExcelMapper">
    <insert id="postImportExcelData" parameterType="importExcelDto">
        insert into tcms.tb_cntrt_trff_cond_h
        (cntrt_id, trff_id, seq_no, lcc_cd, sub_lcc_cd, trff_stat_date, trff_end_date, cntrt_curr_cd, pay_curr_cd, inco_cd, prod_gcd, arr_cd, del_yn, ins_date, ins_time, ins_person_id, dep_cd, dep_nm, arr_nm, corp_id)
        values (#{cntrt_id}, #{trff_id}, #{seq_no}, #{lcc_cd}, #{sub_lcc_cd}, #{trff_stat_date}, #{trff_end_date}, #{cntrt_curr_cd}, #{pay_curr_cd}, #{inco_cd}, #{prod_gcd}, #{arr_cd}, #{del_yn}, #{ins_date}, #{ins_time}, #{ins_person_id}, #{dep_cd}, #{dep_nm}, #{arr_nm}, #{corp_id});

        insert into tcms.tb_cntrt_trff_cond_val_d
        (cntrt_id, trff_id, seq_no, val_seq_no, del_yn, ins_date, ins_time, ins_person_id, cond_id, cal_unit_cd, cntrt_curr_cd, pay_curr_cd, unit_price, corp_id)
        values (#{cntrt_id}, #{trff_id}, #{seq_no}, #{val_seq_no}, #{del_yn}, #{ins_date}, #{ins_time}, #{ins_person_id}, #{cond_id}, #{cal_unit_cd}, #{cntrt_curr_cd}, #{pay_curr_cd}, #{unit_price}, #{corp_id});
    </insert>
</mapper>